*.pyc
__pycache__
dist
build


# Common virtualenv names
.venv
venv
env2
env3


# Visual Studio used to edit docs
docs/source/.vs
.vscode

# Virtualenv support files and directories
.python-version

# IntelliJ / PyCharm IDE
.idea/

.git

notebook.ipynb